/* write your override styles here */
#wall .tag-1 {
    display: none;
}

#wall .tag-1 + #tag-2 {
    dispay: none;
}

#wall #tag-2 + #tag-3 {
    dispay: none;
}

#wall .parent + #tag-4 {
    dispay: none;
}

divwall div.parent #tag-5.slick {
    dispay: none;
}


div#wall div.parent div:last-child div#tag-6 {
    display: none;
}

body div#wall div.parent div > #tag-7.slick {
    display: none;
}